DATABASE_URL=postgresql+psycopg2://<db_user>:<db_password>@<db_host>:5432/<db_name>
MISTRAL_API_KEY=<your_mistral_api_key>
DEEPSEEK_API_URL=https://agent.timeweb.cloud/api/v1/cloud-ai/agents/fc0c89ec-4868-408c-99cd-dc6d5ea764c8/v1/chat/completions
DEEPSEEK_API_KEY=<your_deepseek_api_key>
