<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="LAMBA"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".network.HistoryActivity" android:exported="false" />
        <activity android:name=".network.StatisticsActivity" android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddVehicleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity 
            android:name=".ChatActivity"
            android:exported="false" 
            android:screenOrientation="portrait" />

    </application>

</manifest>
